<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <h1><%= post.title %></h1>
      <p><%= post.text %></p>
      <p><%= post.createdAt.toLocaleDateString() %></p>
      <a href="/edit/<%= post._id %>">Edit</a>
      <button data-id="<%= post.id %>">Delete</button>
    </main>

    <script>
      document.addEventListener('click', (e) => {
        const id = e.target?.dataset?.id
        if (id) {
          fetch(`/posts/${id}`, { method: 'DELETE' })
            .then(() => {
              window.location.href = '/posts'
            })
            .catch((err) => console.log(err))
        }
      })
    </script>
  </body>
</html>
